<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>  
  <br>
  <h1><%= title %> </h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Restaurant</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>     
      <% food.forEach(f => { %> 
        <tr>          
          <td><%= f.food %> </td> 
          <td><%= f.restaurant %> </td>
          <td><%= f.rating %> </td>
          <td>
            <a href="/foods/<%= f._id %> ">DETAILS</a>
          </td>
        </tr>    
        <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>