<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Edit Food Review</h1>
<section>
<form id="edit-review-form" action="/foods/<%= food._id %>?_method=PUT " method="POST">
  <label for="name-input">Food:</label> 
  <input type="text" name="food" id="name-input" value="<%= food.food %>" required>
  <label for="name-input">Restaurant:</label> 
  <input type="text" name="restaurant" id="restaurant-input" value="<%= food.restaurant %>" required>
  <label>Rating:
    <select type="text" name="rating">
      <option><%= food.rating %></option>
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
  <button type="submit">Update</button>
</form>
</section>

<%- include('../partials/footer') %>