<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <% if (foods.length) { %> 
  <h1><%= title %> </h1>
  <div class="tableFixHead">    
  <table class="reviewTbl">
    <thead>
      <tr>
        <th>Food</th>
        <th>Restaurant</th>
        <th>Rating</th>
        <th id="details-cell"></th>     
        <th id="delete-cell"></th>        
      </tr>
    </thead>
    <% } else { %> 
      <h2>Add A New Review To Begin</h2>
      <% } %> 
    <tbody class="tbl-body">     
      <% foods.forEach(f => { %> 
        <tr class="info-row">
          <td><%= f.food %> </td> 
          <td><%= f.restaurant %> </td>
          <td><%= f.rating %> </td>
          <td>
            <a class="details" href="/foods/<%= f._id %>">DETAILS</a>
          </td>
          <td>
            <% if (f.owner.equals(user?.profile._id)) { %>
            <form action="/foods/<%= f._id %>?_method=DELETE" method="POST">
              <button id="trashFood"><i class="fas fa-trash-alt" type="submit"></i></button>
            </form>
            <% } %> 
          </td>
        </tr>    
        <% }) %> 
    </tbody>
  </table>   
</div>
</main>

<%- include('../partials/footer') %>