<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <br>
  <button><a href="/foods/new">Add Food</a></button>
  <h1><%= title %> </h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Restaurant</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>     
      <% foods.forEach(f => { %> 
        <tr>          
          <td><%= f.food %> </td> 
          <td><%= f.restaurant %> </td>
          <td><%= f.rating %> </td>
          <td>
            <a href="/foods/<%= f._id %> ">DETAILS</a>
          </td>
          <td>
            <form action="/foods/<%= f._id %>?_method=DELETE" method="POST">
              <button id="trashFood"><i class="fas fa-trash-alt"></i></button>
            </form>
          </td>
        </tr>    
        <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>