<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css">
<%- include('../partials/nav') %>

<main>
  <!-- form body -->
  <div class="form-body-rating">  
  <br>

  <!-- form header -->
<div class="form-header">
  <h1><%= food.food %></h1> 
  <% if (food.owner.equals(user?.profile._id)) { %>
    <form action="/foods/<%= food._id %>/edit" method="GET">
      <button id="editFood"><i class="fas fa-edit" type="submit"></i></button>
    </form>   
    <% } %> 
  </div>

    <!-- food rating -->
    <div class="rating">
      <p class="stars"><%= food.rating %></p>
    </div>

    <!-- restaurant -->
    <div class="restaurant">
      <p class="foodRestaurant"><%= food.restaurant %></p>
    </div>

    <!-- location -->
    <div class="location">
      <p class="foodLocation"><%= food.location %></p>
    </div>
</div>
<br>

<!-- review table -->
  <div class="tableFixHead">  
    <table class="reviewTbl">
      <thead>
        <tr>
          <th>Date</th>
          <th>Reviews</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% food.reviews.forEach(function(review){ %>        
          <tr class="review-row">
            <td><%= review.createdAt.toLocaleDateString() %> </td>
            <td><%= review.content %></td>
            <td class="reviewStars"><%= review.rating %> </td>
          </tr>
        <% }) %>          
      </tbody>
    </table>
    </div>


<!-- add another review form -->
    <div class="form-body">
    <% if (food.owner.equals(user?.profile._id)) { %>
      <div class="form-group">
    <form id="add-review-form" action="/foods/<%= food._id %>/reviews" method="POST"> 
    <label class="reviewRating" for="label-title">Rating:</label>
    <select type="text" name="rating" id="rating-input" class="form-input">
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️" selected>⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select><br><br>
  </div>

<div class="form-group">
  <label for="content" class="label-title">Review:</label>
  <textarea name="content" id="review-input" class="form-input" rows="4" cols="50" style="height:auto"></textarea>
</div>
    
<button type="submit" class="btn">Add Review</button>
  </div>
  </form>
  <% } %> 
</main>

<%- include('../partials/footer') %>