<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <br>
  <h1><%= title %> </h1>
  <table>
    <thead>      
      <tr>
        <th>Name</th>
        <th>Restaurant</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody> 
        <tr>       
          <td><%= food.food %> </td>
          <td><%= food.restaurant %> </td>
          <td><%= food.rating %> </td>
          <td>   
            <% if (food.owner.equals(user?.profile._id)) { %>
              <form action="/foods/<%= food._id %>/edit" method="GET">
                <button id="editFood"><i class="fas fa-edit" type="submit"></i></button>
              </form>   
              <% } %>
          </td>
        </tr>            
    </tbody>
  </table>
  
  <h2>Reviews</h2>  
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% food.reviews.forEach(function(review){ %>        
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %> </td>
            <td><%= review.content %></td>
            <td><%= review.rating %> </td>
          </tr>
        <% }) %>          
      </tbody>
    </table>  
    <form 
    id="add-review-form"
    action="/foods/<%= food._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select type="text" name="rating">
      <option value="⭐️">⭐️</option>
      <option value="⭐️⭐️">⭐️⭐️</option>
      <option value="⭐️⭐️⭐️" selected>⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
      <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
</main>

<%- include('../partials/footer') %>